*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background-color: white;
}
.lottie-bg{
    position: absolute;
    top: 20rem;
    left: 20rem;
    height: 50%;
    width: 50%;
    background:transparent;
}
.main-container{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    height: 100vh;
    z-index: 10;
}
canvas{
    margin-top: 2rem;
    max-width: 90vw;
    max-height: 70vh;
    border-radius: 50px;
    border: black solid 1px;
}
.options-wrapper{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    z-index: 999;
}
@media all and (max-width: 1000px) {
    .middle-settings{
        position: relative;
        font-size: 12px !important;
        /* background-color:black; */
        color: black;
        border: 1px solid black;
        justify-content: space-between;
        align-items: center;
        width: 100% !important;
        padding: 2rem;
        display: flex;
        z-index: 999;
        flex-direction: row;
        border-radius: 0rem 0rem 3rem 3rem ;
    }    
}

@media all and (max-width: 700px) {
    .options-wrapper{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 2rem;
        z-index: 999;
    }
    .lottie-bg{
        position: absolute;
        top: 25rem;
        left: 5rem;
        height: 50%;
        width: 50%;
        background:transparent;
    }
    canvas{
        margin-top: 2rem;
        max-width: 90vw;
        max-height: 60vh;
        border-radius: 50px;
        border: black solid 1px;
    }
    .middle-settings{
        position: relative;
        font-size: 10px !important;
        color: black;
        border: 1px solid black;
        justify-content: space-between;
        align-items: center;
        width: 100% !important;
        padding: 1rem;
        display: flex;
        z-index: 999;
        flex-direction: row;
        border-radius: 0rem 0rem 3rem 3rem ;
    }   
    .post-generate-btns-wrapper{
        margin-top: 1rem;
        display: flex;
        width: 80% !important;
        justify-content: space-around;
        align-items: center;
    }
}


.middle-settings{
    position: relative;
    font-size: 16px;
    /* background-color:black; */
    color: black;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 2rem;
    display: flex;
    z-index: 999;
    flex-direction: row;
    border-radius: 0rem 0rem 3rem 3rem ;
}

.generate-btn-wrapper{
    height: 5rem;
}
#generate{
    color: black;
    background: none;
    border: black solid 1px;
    border-radius: 50px;
    padding: 15px;
    z-index: 999;
    cursor: pointer;
}
.shape-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 5rem;
}
#shape-select{
    margin-top: 0.5rem;
    background-color: none;
    border-radius: 20px;
}
.num-shape-wrapper{
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 5rem;
}
#num-shape-select{
    color: black;
    margin-top: 0.5rem;
}

.radio-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 5rem;
}
#full-color{
    margin-top: 0.5rem;
}
#monochromatic{
    margin-top: 0.5rem;
}

.bg-color-selector{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 5rem;
}
#bg-fill{
    margin-top: 0.5rem;
}
.size-of-shape{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 5rem;
}
#size-selector{
    margin-top: 0.5rem;
}

.post-generate-btns-wrapper{
    margin-top: 1rem;
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}
#recreate{
    border: black solid 1px;
    background: white;
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
}
#settings{
    border: black solid 1px;
    background: white;
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
}
#save{
    border: black solid 1px;
    background: white;
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
}